@page "/counter"

<PageTitle>Counter</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        
        <h1>NOT AUTHORIZED</h1>

        <p role="status">Current count: @currentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </NotAuthorized>
    <Authorized>
        <h1> AUTHORIZED</h1>
    </Authorized>
</AuthorizeView>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}